et_xmlfile==2.0.0
narwhals==1.35.0
numpy==2.2.4
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.2.1
plotly==6.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
raceplotly==0.1.7
screeninfo==0.8.1
six==1.17.0
sjvisualizer==0.0.14
tzdata==2025.2
